packages:
  yum:
    php8.3-mysqlnd: []
    php8.3-pecl-redis6: []
    php8.3-sodium: []
    php8.3-gd: []
    php8.3-intl: []
    php8.3-mbstring: []
    php8.3-xml: []
    php8.3-soap: []
    php8.3-opcache: []

files:
  "/etc/php.d/99-moodle.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      display_errors = On
      upload_max_filesize = 128M
      post_max_size = 128M
      max_execution_time = 300
      max_input_vars = 5000
      memory_limit = 512M
      opcache.enable = 1
